<!DOCTYPE html>
<html>
    <head>
        <title>HackCbs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <meta name="keywords" content="HTML,CSS,Javascript,bootstrap,Nodejs,Express,MongoDb,Passport.js">
        <meta name="author" content="Blind Assassians">
    </head>
    <body>
    <div class="nav"></div>